*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    color: white;
    min-height: 100vh;
}

@font-face {
    font-family: myFirstFont;
    src: url("NeueMachina-Medium.ttf") format("truetype"); ;
    font-style: normal; 
    font-weight: normal; 
  }

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.center{
    opacity: 0;
}

.desc{
    text-align: center;
    font-family: myFirstFont;
    font-size: 60px;
}

.loading-bar
{
    text-align: center;
    position: absolute;
     top: 40%;
    left: 42%; 
    width: 15%;
    height: 5px;
    background: #ffffff;
    transform: scaleX(0.3);
    transform-origin: top left;
    transition: transform 0.5s;
}

.loading-bar.ended
{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.center{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
}

header{
    font-size: 20px;
    font-family: "myFirstFont";
}

header, form{
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-input , .todo-button{
    padding: 5px;
    border: none;
    background: #1a1f25;
    outline: none;
    color: white;
}

.todo-input {
    font-family: "myFirstFont";
    font-size: 20px;
    max-width: 310px;
    width: 100%;
    border: 2px solid #22272d;
    border-radius: 10px;
    /* margin-left: 30px; */
}

.todo-button{
    /* color: #d88771; */
    background: #0e1531;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #22272d;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    margin-right: 20px;
}

.todo-button:hover{
    /* background: #d88771; */
    color: orange;
    
}

.button_form{
    display: flex;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 180px;
}

.todo-list{
    list-style: none;
    max-width: 338px;
    width: 100%;
}

.todo{
    margin: 8px;
    background: #1a1f25;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    border: 2px solid #22272d;
    border-radius: 10px;
    color: white;
    font-family: myFirstFont;
}

.todo li{
    flex: 1;
}

.trash-btn , .complete-btn{
    background: #0e1531;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
}

.trash-btn{
    border-radius: 0px 10px 10px 0px;
}

.complete-btn{
    /* background: #1e4b1e; */
    border-radius: 10px 0px 0px 10px;;
}

.complete-btn:hover{
    color: green;
}

.trash-btn:hover{
    color: red;
}

.todo-item{
    padding: 0px 8px;
}

.fa-trash,
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.deleted{
    opacity: 0;
}

.select{
    position: relative;
    overflow: hidden;
}

select{
    font-family: myFirstFont;
    background-color: #1a1f25;
    color: white;
    width: 10rem;
    cursor: pointer;
    padding: 5px;
    border: 2px solid #22272d;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}


@media (max-width: 530px){

    form{
        flex-direction: column;
    }

    .todo-container {
        margin-right: 0px;
    }

    .todo-button {
         margin-right: 0px;
    }

    .select{
        margin-top: 10px;
    }

    .todo{
        opacity: 0.8;
    }

    .desc{
        font-size: 20px;
    }

}